/* Colours */
$charcoal: #373737;
$palegold: #C0B283;
$beige: #d9cdc7;
$silk: #DCD0C0;
$paper: #F4F4F4;

$lavendar: #6D7993;
$overcast: #9099A2;
$grey: #D5D5D5;
$purple: #96858f;
$cadetblue: #5F9EA0;

/* Layout */

$wrapperWidth: 1000px;